.burgerMenu {
    position: absolute;
    left: -280px;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    background-color: #f4f4f4;
    transition: left 0.3s ease; 
    z-index: 1300;
}

.burgerMenu.open {
    left: 0;
}

.close_btn_burger img{
    display: 'none';
}

.close_btn_burger {
    margin-top: 20px;
    margin-left: 240px;
}

.close_btn_burger img{
    width: 23px;
    height: 23px;
}

.btn_icon_burger {
    top: 20px;
    left: 16px;
    width: 23px;
    height: 23px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.btn_icon_burger.open img{
    display: 'none';
}

.subsections_menu {
    padding-top: 16px;
    padding-left: 16px;
    font-family: 'Inter', sans-serif;
    color: #223E42;
}

.subsections_menu h1 {
    font-size: 23px;
}

.dropbtn {
    color: #223E42;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #223E42;
    border-radius: 8px;
  }
  
.dropdown {
    margin-top: 12px;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1100;
    border-radius: 8px;
    margin-top: 10px;
}
  
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  